langgraph
langsmith

python-dotenv
langchain-groq
langchain-tavily
langchain-mcp-adapters
langgraph-cli[inmem]
langchain-google-genai

mcp
arxiv
wikipedia
Ipython
pymupdf
pypdf
transformers
pillow
torch
numpy
scikit-learn
faiss-cpu
sentence_transformers
chromadb

langchain
# langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0
